# Node.js
node_modules
dist
build

.cache
.parcel-cache

# Environment files
.env
.env.local

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Test coverage
coverage/
.nyc_output/